.godot/
export_presets.cfg
*.pck
*.zip
build/
.import/
tmp/
*.bak
*~
*.fnt
*.translation
project.godot.orig
local_project_settings.cfg
.DS_Store
Thumbs.db
Desktop.ini
*.sublime-project
*.sublime-workspace
.vscode/
*.idea/
*.log
